<!-- Image and text -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand mt-2 mt-lg-0" href="#">
      <img
        src="https://cdn-icons-png.flaticon.com/512/3301/3301565.png"
        class="me-2"
        height="40"
        alt=""
        loading="lazy"
      />
      <small style="color: beige">Restriccion vehicular La Paz</small>
    </a>
    <!-- Toggle button -->

    <button class="chanchulla" aria-label="Toggle navigation" (click)="open()">
      <i class="fa fa-book text-white"></i>
    </button>

    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
